.PokemonCard {
  display: inline-block;
  width: 8em;
  background-color: lightgrey;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  margin: 1em;
}

.PokemonCard-name {
  color: rgb(0, 42, 209);
  font-weight: bold;
}

.PokemonCard-info {
  font-size: 85%;
}
